.card {
  text-shadow: 5px 5px 15px rgb(158, 156, 156);
}

#back {
  background: powderblue;
}
.card-title {
  font-size: 55px;
  margin-top: 200px;
}

.card-title a {
  text-decoration: none;
  color: yellow;
}
.card-title a:hover {
  color: white;
}
.card-text {
  font-size: 27px;
}
.card-text a {
  text-decoration: none;
  color: yellow;
}
.card-text a:hover {
  color: white;
}
.card-img {
  opacity: 30%;
}

#sendButton {
  background-color: white;
}
/*CARD DISEÑO*/

.poke {
  width: 246px;
  height: 246px;
  background-image: url(../dabff6132dc76517ac18c36df5574201.jpg);
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.titulo-nombre {
  font-size: 25px !important;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius:5px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.table td, .table th{
    border-top: none !important;
}
.table thead th{
    border-bottom: none !important;
}
.text {
  text-align: center;
}

.table th{
    font-size: 12px;
    text-align: center;
}
.text1 {
  background-color: red;
  color: white;
  font-style: bold;
  border-radius: 5px;
  width: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}
.text2 {
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.text3 {
  background-color: green;
  color: white;
  border-radius: 5px;
  width: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.pokecard {
  margin-top: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: white;
  box-shadow: 2px 2px 20px 15px rgb(209, 241, 245) !important;
  margin-bottom: 100px;
  border: solid rgb(197, 195, 195);
  border-radius: 30px;
}

.pokebtn {
  margin-left: 22px;
  color: black;
  font-weight: bold;
  border: none;
  background-color: yellow;
  border-radius: 5px;
  height: 35px;
}

.ms-3 {
  margin-left: 5px !important;
}

.footer {
  margin-top: 300px !important;
}

.titulo-pelis {
  text-align: center;
  color: white;
  margin-top: 30px;
}
.pokeimg{
  margin-left: 15px !important;
}


.textmen{
  margin-top: 20px;
}


#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 70vw;
  height: 150vh;
  background-image: url("../pokelo.gif");
  background-repeat: no-repeat;
  background-position: center;
}







/*cards*/


/* .body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
} */



.poke-container {
  margin-top: 100px;
	display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
	align-items: space-between;
	justify-content: center;
	max-width: 1200px;
}

.pokemon {
  
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgb(209, 241, 245);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
  
	background-color: yellow;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
  display: inline-block;

}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
} 


.filtro{
  text-align: center;
  margin-top: 50px;
}
.filtro input{
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-top: 20px;
}

.filter{
  display: none;
}




@media (max-width: 850px) {
  #loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("../pokelo.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
 
  
  
  .textmen{
    margin-left: 0px !important;
  }
  .card-title {
    margin-top: 50px;
    font-size: 25px;
  }
  .card-text {
    font-size: 15px;
  }
  #sendButton {
    background-color: white;
    width: 70px;
    height: 30px;
    font-size: 10px;
    margin-left: 10px;
  }
  #search {
    width: 130px;
    height: 30px;
  }

  .pokebtn {
    color: rgb(250, 155, 237);
    font-weight: bold;
	      font-size: 13px;

  }
  #videos {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
  }
  .titulo-video {
    font-size: 18px !important;
  }
  iframe {
    width: 90%;
  }
}
